<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.letearth.mapper.projectMapper">

	<!-- 프로젝트 번호 생성 -->
	<insert id="insertProNo" parameterType="ProjectVO" useGeneratedKeys="true" keyColumn="pro_no" keyProperty="pro_no">
		insert into project(mem_id, pro_title) values(#{mem_id},'임시저장글')
	</insert>
	
	<!-- 프로젝트 기본정보 등록 -->
	<update id="updateBasicInfo">	
		update project set cat_no=#{cat_no}, cat_name=#{cat_name}, pro_title=#{pro_title}, pro_context=#{pro_context}, pro_thum=#{pro_thum}, tags=#{tags}
		where pro_no=#{pro_no}
	</update>
	
	<!-- 기본정보 조회 -->
	<select id="getBasicInfo" resultType="ProjectVO">
		select cat_no, cat_name, pro_title, pro_context, tags
		from project
		where pro_no=#{pro_no}
	</select>
	
	<!-- 프로젝트 일정 등록 -->
	<update id="updatePlan">
		update project set pro_gp=#{pro_gp}, pro_st_dt=#{pro_st_dt}, pro_ed_dt=#{pro_ed_dt}, del_date=#{del_date}
		where pro_no = #{pro_no}
	</update>
	
	<!-- 일정 조회 -->
	<select id="getPlan" resultType="ProjectVO">
		select pro_gp, pro_st_dt, pro_ed_dt, del_date
		from project
		where pro_no=#{pro_no}
	</select>
	
	<!-- 리워드 생성 -->
	<insert id="createReward">
		insert into reward(pro_no, reward_price, reward_title, reward_content, reward_stock, reward_ship, reward_shipmonth, reward_shipdate)
		values(#{pro_no}, #{reward_price}, #{reward_title}, #{reward_content}, #{reward_stock}, #{reward_ship}, #{reward_shipmonth}, #{reward_shipdate})
	</insert>
	
	<!-- 리워드 조회 -->
	<select id="getReward" resultType="com.letearth.project.domain.RewardVO">
		select * from reward
		where pro_no = #{pro_no}
	</select>
	
	<!-- 리워드 삭제 -->
	<delete id="deleteReward">
		delete from reward
		where reward_no = #{reward_no}
	</delete>
	
	<!-- 스토리 업데이트 -->
	<update id="updateStory">
		update project set pro_story=#{pro_story}
		where pro_no=#{pro_no}
	</update>
	
	<!-- 스토리 조회 -->
	<select id="getStory" resultType="ProjectVO">
		select pro_story
		from project
		where pro_no=#{pro_no}
	</select>

	<!-- 정책 업데이트-->
	<update id="updatePolicy">
		update project set pro_policy=#{pro_policy}
		where pro_no=#{pro_no}
	</update>
	
	<!-- 정책 조회 -->
	<select id="getPolicy" resultType="ProjectVO">
		select pro_policy
		from project
		where pro_no=#{pro_no}
	</select>
	
	<!-- 대표자 및 정산 정보 등록 -->
	<update id="updatePartner" parameterType="ProjectVO">
		<choose>
			<when test='"개인".equals(par_cat)'>
				update project set par_cat=#{par_cat}, par_intro=#{par_intro}, par_birth=#{par_birth}, par_com_num=0, par_scan=#{par_scan}, pro_status=2
				where pro_no=#{pro_no}
			</when>
			<when test='"사업자".equals(par_cat)'>
				update project set par_cat=#{par_cat}, par_intro=#{par_intro}, par_com_num=#{par_birth}, par_birth=0, par_scan=#{par_scan}, pro_status=2
				where pro_no=#{pro_no}
			</when>
		</choose>
	</update>
	
	<!-- 멤버 프로필 등록 -->
	<update id="updateMemFile">
		update member set mem_profile=#{mem_profile}
		where mem_id=#{mem_id}
	</update>
	
	
</mapper>