@charset "UTF-8";
.textBox{
	border: none;
	height: 40px;
	width: 200px;
	background: #fff !important;
	color: #212121;
	border: 1px solid #ced4da;
	margin:10px;
	font-size: 15px;
	padding : 0.375rem 0.75rem;
	border-radius: 5px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.bigTextBox{
	border: none;
	height: 40px;
	width: 300px;
	background: #fff !important;
	color: #212121;
	border: 1px solid #ced4da;
	margin:10px;
	font-size: 15px;
	padding : 0.375rem 0.75rem;
	border-radius: 5px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.autoTextArea{
	border: none;
	height: 200px;
	width: 100%;
	background: #fff !important;
	color: #212121;
	border: 1px solid #ced4da;
	margin:10px;
	font-size: 15px;
	padding : 0.375rem 0.75rem;
	border-radius: 5px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.autoTextArea2{
	border: none;
	height: 130px;
	width: 130%;
	background: #fff !important;
	color: #212121;
	border: 1px solid #ced4da;
	margin:10px;
	font-size: 15px;
	padding : 0.375rem 0.75rem;
	border-radius: 5px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.textArea{
	border: none;
	height: 100px;
	width: 700px;
	background: #fff !important;
	color: #212121;
	border: 1px solid #ced4da;
	margin:10px;
	font-size: 15px;
	padding : 0.375rem 0.75rem;
	border-radius: 5px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	resize: none;
}
.bigTextArea{
	border: none;
	height: 300px;
	width: 650px;
	background: #fff !important;
	color: #212121;
	border: 1px solid #ced4da;
	margin:10px;
	font-size: 15px;
	padding : 0.375rem 0.75rem;
	border-radius: 5px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	resize: none;
}
.longTextBox{
	border: none;
	height: 50px;
	width: 500px;
	background: #fff !important;
	color: #212121;
	border: 1px solid #ced4da;
	margin:10px;
	font-size: 15px;
	padding : 0.375rem 0.75rem;
	border-radius: 5px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.tagBox{
	border: none;
	height: auto;
	width: 500px;
	background: #fff !important;
	color: #212121;
	border: 1px solid #ced4da;
	margin:10px;
	font-size: 15px;
	padding : 0.375rem 0.75rem;
	border-radius: 5px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/* radio */
.select {
    padding: 15px 10px;
}
.select input[type=radio]{
    display: none;
}
.select input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 24px;
    width: 90px;
    border: 1px solid #ced4da;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size:13px;
    vertical-align: middle;
}
.select input[type=radio]+label{
    background-color: #fff;
    color: #333;
}
.select input[type=radio]:checked+label{
    background-color: #333;
    color: #fff;
}
/* radio */

.meta {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
}
.myBtn {
	background: #6F7B63;
    line-height: 30px;
    padding: 0 15px;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    margin-right: 10px;
    border: none;
}
.myBtn2 {
	background: #A4AC85;
    line-height: 30px;
    padding: 0 15px;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    margin-right: 10px;
    border: none;
}
.myBtn3 {
	background: #414934;
    line-height: 30px;
    padding: 0 15px;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    margin-right: 10px;
    border: none;
}
.myBtn4 {
	background: #B6AD90;
    line-height: 30px;
    padding: 0 15px;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    margin-right: 10px;
    border: none;
}